@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
.card:hover {
  transform: translate(0, -50px);
  transition: all 0.5s;
  cursor: pointer;
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.listaComoComprar {
  animation: ease-in-out;
  animation-name: zoom-in;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes opacidad {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.algoDulceSobreNosotros {
  animation-name: opacidad;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes giro {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.mapaContainer {
  animation-name: giro;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes form {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.containerForm {
  animation-name: form;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.navegacion {
  background-color: #CEE4ED;
  text-decoration: none;
  padding: 7px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.navegacion img {
  width: 200px;
  margin-left: 15px;
}
.navegacion ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}
.navegacion ul li {
  text-decoration: none;
  font-size: 1.375em;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  margin-right: 20px;
}
.navegacion ul li a {
  text-decoration: none;
  color: black;
}
.navegacion ul li a:hover {
  text-decoration: underline;
}

* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #CAB7ED;
}

header img {
  width: 100%;
  height: auto;
}

h1 {
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2.813em;
  text-align: center;
}

h2 {
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 2.188em;
  text-align: center;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.688em;
  text-align: center;
}

.algoDulceSobreNosotros {
  margin: 15px;
  text-align: center;
  font-size: 1.375em;
}

.listaComoComprar {
  display: flex;
  justify-content: center;
}
.listaComoComprar ol {
  margin: 15px;
}
.listaComoComprar ol li {
  margin: 15px;
  font-weight: 550;
  font-size: 1.375em;
}

.productosInicio {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas: "t7 t8 t9" "t10 t11 t12";
}

.torta7 {
  grid-area: t7;
  padding-bottom: 50px;
  margin-left: 10px;
}

.torta8 {
  grid-area: t8;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 50px;
}

.torta9 {
  grid-area: t9;
  margin-right: 10px;
  padding-bottom: 50px;
}

.torta10 {
  grid-area: t10;
  margin-left: 10px;
  padding-bottom: 50px;
}

.torta11 {
  grid-area: t11;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 50px;
}

.torta12 {
  grid-area: t12;
  margin-right: 10px;
  padding-bottom: 50px;
}

.card-body {
  background-color: #f5d69d;
}

.card-title {
  font-size: 2.188em;
}

.card-text {
  font-size: 1.375em;
}

.btn, .btnFormulario {
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
}
.btn:hover, .btnFormulario:hover {
  background-color: rgb(199, 191, 191);
}

.btnFormulario {
  margin-left: 10px;
}

.mapaContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding-left: 15px;
}

.formularios {
  max-width: 100%;
}

.pag-error {
  background-color: #f3e2e0;
}
.pag-error .error-404 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pag-error .img-404 {
  width: 40%;
}
.pag-error .boton-404 {
  font-size: 2.188em;
  border: 2px solid black;
  padding: 10px 20px;
}

footer {
  background-color: #CEE4ED;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer h3 {
  font-size: 1.688em;
}
footer svg {
  width: 1.875em;
  fill: #8163b9;
  margin-left: 1.875em;
}
footer svg:hover {
  fill: #371870;
}
footer a {
  text-decoration: none;
}
footer p {
  font-size: 1.375em;
}
footer .mediosDePago svg {
  width: 50px;
}
footer .mercadoPago {
  width: 70px;
  margin-left: 30px;
}
footer .logosRedesSociales {
  margin-top: 20px;
  margin-right: 20px;
}
footer .svgsContactoFooter {
  margin-top: 20px;
  padding-bottom: 10px;
}
footer .fotterContacto, footer .contactoFotterUbicacion, footer .contactoFotterMail, footer .contactoFotterTel {
  display: flex;
  margin-left: 1.563em;
}
footer .contactoFotterTel svg {
  width: 1.875em;
  margin-bottom: 10px;
}
footer .contactoFotterTel p {
  margin-left: 0.938em;
}
footer .contactoFotterMail svg {
  width: 1.875em;
}
footer .contactoFotterMail p {
  margin-left: 0.938em;
  margin-top: 0.938em;
}
footer .contactoFotterUbicacion {
  margin-top: 0.938em;
}
footer .contactoFotterUbicacion svg {
  width: 1.875em;
}
footer .contactoFotterUbicacion p {
  margin-left: 0.938em;
}

@media (max-width: 991px) {
  .productosInicio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "t7 t8" "t9 t10" "t11 t12";
    gap: 20px;
  }
  .torta7 {
    margin: 0;
  }
  .torta8 {
    margin: 0;
  }
  .torta9 {
    margin: 0;
  }
  .torta10 {
    margin: 0;
  }
  .torta11 {
    margin: 0;
  }
  .torta12 {
    margin: 0;
  }
  .pag-error .img-404 {
    width: 60%;
  }
  .pag-error .boton-404 {
    font-size: 1.688em;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .redesSocialesFooter {
    margin: 20px 0px 20px 0px;
  }
  .contactoFooter {
    margin: 20px 0px 20px 0px;
  }
  .mediosDePagoFooter {
    padding-bottom: 20px;
  }
  .productosInicio {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "t7" "t8" "t9" "t10" "t11" "t12";
    gap: 20px;
  }
  .torta7 {
    margin-left: 0;
    margin-right: 0;
  }
  .torta8 {
    margin-left: 0;
    margin-right: 0;
  }
  .torta9 {
    margin-left: 0;
    margin-right: 0;
  }
  .torta10 {
    margin-left: 0;
    margin-right: 0;
  }
  .torta11 {
    margin-left: 0;
    margin-right: 0;
  }
  .torta12 {
    margin-left: 0;
    margin-right: 0;
  }
  .pag-error .img-404 {
    width: 80%;
    margin-top: 20px;
  }
  .pag-error .boton-404 {
    font-size: 1.375em;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
