//animación para que las cards de los productos si muevan un poco para arriba.
.card:hover{
    transform: translate(0,-50px);
    transition: all 0.5s;
    cursor: pointer;
  }
  
//animación para que la lista de la sección "cómo comprar" aparezca en un zoom.
@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.listaComoComprar{
  animation: ease-in-out;
  @include animation (zoom-in,1.5s,0s,1)
}

//animación que cambia la opacidad en el texte de la sección "sobre nosotros".
  @keyframes opacidad {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.2;
    }
    50%{
        opacity: 0.4;
    }
    75%{
        opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  .algoDulceSobreNosotros{
    @include animation(opacidad,2s,0s,1)
  }

  //animación que traslada el mapa de la sección "contacto" de abajo hacia arriba.
  @keyframes giro {
    0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
  }

  .mapaContainer{
    
    @include animation(giro,1.5s,0s,1)
  }

  //animación que traslada el formulario de izq a derecha.
  @keyframes form {
    0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
  }
  .containerForm{
    @include animation(form,1.5s,0s,1)
}


