*{
    font-family:$fuentePrincipal;
    box-sizing: border-box;
}

body{
    background-color:$colorPrincipal;
}

header img{
    max-width: 100%;
}

h1{
    font-family: $fuentePrincipal;
    font-weight: $fontBold;
    font-size: $textoXl;
    text-align: center;
    margin-top: 20px;
}

h2{
    font-family: $fuentePrincipal;
    font-weight: $fontRegular;
    font-size: $textoLg;
    text-align: center;
    margin-top: 20px;
}

h3{
    font-family: $fuentePrincipal;
    font-weight: $fontLight;
    font-size: $textoMd;
    text-align: center;
}

.algoDulceSobreNosotros{
    margin: 15px;
    text-align: center;  
    font-size: $textoSm;
}

.listaComoComprar{
    display: flex;
    justify-content: center;
    ol{
        margin: 15px;
        li{
            margin: 15px;
            font-weight: 550;
            font-size: $textoSm;
        }
    }
}

.productosInicio{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    grid-template-areas:
    "t7 t8 t9"
    "t10 t11 t12";
    }
    
    
.torta7{
    grid-area: t7;
    padding-bottom: 50px;
    margin-left: 10px;
}
    
.torta8{
    grid-area: t8;
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 50px;
}
    
.torta9{
    grid-area: t9;
    margin-right: 10px;
    padding-bottom: 50px;
}
    
.torta10{
    grid-area: t10;
    margin-left: 10px;
    padding-bottom: 50px;
}
    
.torta11{
    grid-area: t11;
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 50px;
}
    
.torta12{
    grid-area: t12;
    margin-right: 10px;
    padding-bottom: 50px;
}
    
.card-body{  
    background-color:$colorProductos;
}

.card-title{
     font-size: $textoLg;
}

.card-text{
    font-size: $textoSm;
}

.btn{
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    &:hover{
        background-color: rgb(199, 191, 191);
    }
}

.mapaContainer{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-left: 15px;
}

.btnFormulario{
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    margin-left: 10px;
}
   

.formularios{
    max-width: 100%;
}