

*{
    font-family:$fuentePrincipal;
    box-sizing: border-box;
}

body{
    background-color:$colorPrincipal;
}

header img{
   width: 100%;
   height: auto;
}

h1{
    margin-top: 20px;
    @include encabezados($fuentePrincipal,$fontBold ,$textoXl ,center )
  }

h2{
    margin-top: 20px;
    @include encabezados($fuentePrincipal,$fontRegular,$textoLg,center)
}


h3{
    @include encabezados($fuentePrincipal,$fontLight,$textoMd,center)
}

.algoDulceSobreNosotros{
    margin: 15px;
    text-align: center;  
    font-size: $textoSm;
}

.listaComoComprar{
    display: flex;
    justify-content: center;
    ol{
        margin: 15px;
        li{
            margin: 15px;
            font-weight: 550;
            font-size: $textoSm;
        }
    }
}

.productosInicio{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    grid-template-areas:
    "t7 t8 t9"
    "t10 t11 t12";
}
    
    
.torta7{
    grid-area: t7;
    padding-bottom: 50px;
    margin-left: 10px;
}
    
.torta8{
    grid-area: t8;
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 50px;
}
    
.torta9{
    grid-area: t9;
    margin-right: 10px;
    padding-bottom: 50px;
}
    
.torta10{
    grid-area: t10;
    margin-left: 10px;
    padding-bottom: 50px;
}
    
.torta11{
    grid-area: t11;
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 50px;
}
    
.torta12{
    grid-area: t12;
    margin-right: 10px;
    padding-bottom: 50px;
}
    
.card-body{  
    background-color:$colorProductos;
}

.card-title{
     font-size: $textoLg;
}

.card-text{
    font-size: $textoSm;
}

.btn{
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    &:hover{
        background-color: rgb(199, 191, 191);
    }
}
.btnFormulario{
    @extend .btn;
    margin-left: 10px;
}

.mapaContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-left: 15px;
}

   .formularios{
    max-width: 100%;
}

.pag-error{
    background-color: #f3e2e0;
    .error-404{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-404{
        width: 40%;
    }
    .boton-404{
        font-size: $textoLg;
        border: 2px solid black;
        padding: 10px 20px;
     }
}


#carrito-de-compras{
    width: 40px;
    cursor: pointer;
  }
  
  
  .modal-header{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #8e59f1;
    color: #000000;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .modal-container{
    width: 100%;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    z-index: 9;
    scrollbar-color: none;
    margin-right: 34px;
    margin-bottom: 20px;
  }
  
  .modal-container::-webkit-scrollbar{
    display: none;
  }
  
  .modal-header-button{
    cursor: pointer;
    padding-bottom: 15px;
    padding-right: 50px;
  }
  
  .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    margin: 10px;
  }

  .img-modal{
    width: 150px;
    height: 150px;
  }
  
  .carrito-contenedor div  img{
    width: 50px;
  }

  .btn-eliminar-producto{
    width: 30px;
  }

  .restar{
    margin-bottom: 20px;
  }
  
  .total-content{
    background-color: #8e59f1;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    margin: 20px;
  }

  .btn-pagar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #8e59f1;
    font-size: 25px;
    text-align: center;
    padding: 7px;
    margin-bottom: 12px;
    margin-top: 3px;
    border: none;
    border-radius: 7px;
  }
  
  
  .cantidad-carrito{
    background-color: #8e59f1;
    color: black;
    border-radius: 100%;
    font-size: 13px;
    padding: 6px;
    top: 20px;
    right: 25px;
    position: absolute;
    display: none;
  }
  
  .restar, .sumar{
    cursor: pointer;
    font-size: 50px;
  }
  
  
  .oculto{
    display: none;
  }
  .error{
    border: 2px solid red;
  }
  .divError{
    color: rgb(189, 41, 41);
  }
  .btn-alert-form{
    background-color: #8163b9;
  }
  .btn-alert-form:hover{
    background-color: #371870;
  }
  .comentario-card{
      margin-left: auto;
      margin-right: auto;
  }
  
  
  .btn-pagar:hover{
    background-color: #7352af
  }

  .mediosDePago{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.mediosDePago svg{
  width: 70px;
  margin: 20px;
}
.mercadoPago{
  width: 95px;
  margin-left: 20px;
}
.formasDePago{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-pagar{
  margin-left: 100px;
}

.btn-pagar-form{
  display: block;
  background-color: #8e63dc;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 7px;
}
.btn-pagar-form:hover{
  background-color: #7352af
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

