footer{
    background-color: $colorSecundario;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h3{
        font-size: $textoMd;
    }
    svg{
        width: 1.875em;
        fill: #8163b9;
        margin-left: 1.875em;
        &:hover{
            fill: #371870;
        }
    }
    a{
        text-decoration: none;
    }
    p{
        font-size: $textoSm;
    }
    .mediosDePago svg{
        width: 50px;
    }
    
    .mercadoPago{
        width: 70px;
        margin-left: 30px;
    }
    
    .logosRedesSociales{
        margin-top: 20px;
        margin-right: 20px;
    }

    .svgsContactoFooter{
        margin-top: 20px;
        padding-bottom: 10px;
    }
    
    .fotterContacto{
        display: flex;
        margin-left:  1.563em; 
    }

    .contactoFotterTel{
        @extend .fotterContacto;
        svg{
            width: 1.875em;
            margin-bottom: 10px;
        }
        p{
            margin-left: 0.938em;
        }
    }
    
    .contactoFotterMail{
        @extend .fotterContacto;
        svg{
            width: 1.875em;
        }
        p{
            margin-left: 0.938em;
            margin-top: 0.938em;
        }
    }
    
    .contactoFotterUbicacion{
        @extend .fotterContacto;
        margin-top: 0.938em;
        svg{
            width: 1.875em;
        }
        p{
            margin-left: 0.938em;
        }
    }
}

