@media (max-width: 991px){
    .productosInicio {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
          "t7 t8"
          "t9 t10"
          "t11 t12";
        gap: 20px;
      }
    
      .torta7{
        margin: 0;
      }
    
      .torta8{
        margin: 0;
      }
    
      .torta9{
        margin: 0;
      }
    
      .torta10{
        margin: 0;
      }
    
      .torta11{
        margin: 0;
      }
    
      .torta12{
        margin: 0;
      }
      .pag-error{
        .img-404{
          width: 60%;
      }
      .boton-404{
          font-size: $textoMd;
          margin-top: 20px;
       }
      }
      .card:hover{
        transform: none;
        cursor: pointer;
      }
     
      .navbar-toggler{
          background-color:$colorSecundario;
          border: 2px solid black; 
          border-radius: 4px;
          }
      
          .cantidad-carrito{
            bottom: 37px;
            left: 65px;
            right: auto;
            top: auto;
          }
}

@media (max-width: 819px){
  #svg-mp{
    margin-right: 20px;
  }

  .bi-instagram{
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
    footer{
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .redesSocialesFooter{
        margin: 20px 0px 20px 0px;
    }

    .contactoFooter{
        margin: 20px 0px 20px 0px;
    }

    .mediosDePagoFooter{
        padding-bottom: 20px;
    }

    .productosInicio {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
          "t7"
          "t8"
          "t9"
          "t10"
          "t11"
          "t12";
        gap: 20px;
      }
    
      .torta7{
        margin-left: 0;
        margin-right: 0;
      }
    
      .torta8{
        margin-left: 0;
        margin-right: 0;
      }
    
      .torta9{
        margin-left: 0;
        margin-right: 0;
      }
    
      .torta10{
        margin-left: 0;
        margin-right: 0;
      }
    
      .torta11{
        margin-left: 0;
        margin-right: 0;
      }
    
      .torta12{
        margin-left: 0;
        margin-right: 0;
      }
      .pag-error{
        .img-404{
          width: 80%;
          margin-top: 20px;
      }
      .boton-404{
          font-size: $textoSm;
          margin-top: 20px;
       }
      }

      .card:hover{
        transform: none;
        cursor: pointer;
      }

      .navbar-toggler{
        background-color:$colorSecundario;
        border: 2px solid black; 
        border-radius: 4px;
        }

        .bi-instagram{
          margin-bottom: 0;
        }
}

@media (max-width: 748px){
  .modal-content h3{
    display: none;
  }

  .img-modal{
    width: 100px;
    height: auto;
  }

  .restar{
    margin-bottom: 20px;
  }
}

@media (max-width: 566px){
  .mediosDePago svg{
    width: 60px;
    margin: 20px;
  }
  .mercadoPago{
    width: 88px;
    margin-left: 20px;
  }
}

@media (max-width: 545px){
  .form-pagar{
    margin-left: 70px;
  }
}

@media (max-width: 455px){
  .mediosDePago svg{
    width: 50px;
  }
  .mercadoPago{
    width: 78px;
    margin-right: 10px;
  }
}

@media (max-width: 444px){
  .img-modal{
    width: 70px;
    height: auto;
  }
  .btn-eliminar-producto{
    width: 20px;
    margin-right: 5px;
  }
  .restar{
    margin-bottom: 20px;
  }
}

@media (max-width: 376px){
 
  .mediosDePago svg{
    width: 40px;
  }
  .mercadoPago{
    width: 68px;
    margin-right: 10px;
  }
  .form-pagar{
    margin-left: 50px;
  }

}

@media (max-width: 335px){

  .mediosDePago{
    display: inline-block;
    width: 70%;
    margin-left: 55px;
  }
  .mediosDePago svg{
    width: 40px;
  }
  .mercadoPago{
    width: 68px;
  }
  .form-pagar{
    margin-left: 50px;
  }


  .contactoFooter{
    margin-right: 20px;
  }

  .contactoFooterUbicacion p{
    margin-top: 15px;
  }

}