@mixin animation($name, $duration, $delay, $iterationCount) {
  animation-name: $name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $iterationCount;
}

@mixin encabezados($family,$weight,$size,$textAlign){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  text-align: $textAlign;
}
