//variables globales

//colores
$colorPrincipal: #CAB7ED;
$colorSecundario: #CEE4ED;
$colorProductos: #f5d69d;

//fuentes
$fuentePrincipal: 'Oswald', sans-serif;

//tamaños del texto
$textoSm: 1.375em;
$textoMd: 1.688em;
$textoLg: 2.188em;
$textoXl: 2.813em;

// weight
$fontLight: 400;
$fontRegular: 500;
$fontBold: 600;